<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <%if (orders.length <= 0) { %>
            <h1>Nothing There Yet</h1>
        }else{
            <ul>
               <% orders.forEach(order =>{ %>
                    <li>
                        <h2># order.id</h2>
                        <ul>
                            order.orderItem.forEach(item =>{
                                <li></li>
                            })
                            
                        </ul>
                    </li>         
               <% }); %>
               
            </ul>
        }
    </main>
        <%- include('../includes/end.ejs') %>